/* 整個頁面背景 */
.mainBg {
    min-height: 100vh;
    background-color: #000000;
}

/* 內容灰色背景 */
.contentBackground {
    min-height: 100vh;
    background-color: rgba(47, 47, 47, 0.50);
}

/* 電影圖片 */
.movieImage {
    padding: 0;
    width: fit-content;
}

.movieImage>img {
    height: 434px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-top: 130px;
}


/* 電影名稱欄位 */
.movieName {
    margin-left: 30px;
    margin-top: 130px;
}

.movieNameC {
    color: #F1EFE9;
    font-family: "Noto Sans TC";
    font-size: 46px;
    font-style: "normal";
    font-weight: 400;
    line-height: 140%;
}

.movieNameE {
    color: #F1EFE9;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-left: 5px;
}

/* 電影資訊All */
.movieContent {
    margin-left: 30px;
    margin-top: 125px;
}



/* 電影資訊Title */
.contentTitle {
    color: #D9D9D9;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

/* 電影資訊內容 */
.content {
    color: #D9D9D9;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}


/* 電影右半部所有資訊 */
.movieInfo {
    margin: 0px 80px 0px 100px;
    margin-right: 100px;
    border-bottom: 1px solid #F1EFE9;
    padding-bottom: 41px;
}

.grade {
    margin-left: 15px;
    border-radius: 10px;
    background-color: #7DCA84CC;
    color: #F1EFE9;
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.5px;
    justify-content: center;
    padding: 5px 15px 5px 15px;
}



/* 下半部 側邊欄 */
.mySidebar {
    margin: 50px 0 0 100px;
}



/* 票種   餐點 */
.discountConent {
    margin: 79px 0 0 50px;
}


.discountFood {
    margin-top: 113px;
}

.discountTitle {
    color: #F1EFE9;
    font-family: 'Noto Sans TC';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.discountList {
    color: #F1EFE9;
    font-family: 'Noto Sans TC';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

.ticketAdd {
    margin-top: 80px;
    text-align: right;
    padding-right: 130px;
    color: #F1EFE9;
    font-family: Noto Sans TC;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5PX;
}


/* discount css */
.pLogoBg {
    background-color: orange;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    justify-content: center;
    display: inline-block;
    /* flex-direction: column; */
    text-align: center;
    color: #F1EFE9;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.pointsP {
    justify-content: center;
    display: inline-block;
    /* flex-direction: column; */
    color: #D9D9D9;
    font-family: Noto Sans TC;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin-left: 10px;

}

.discountSelect {
    width: 306px;
    height: 36px;
    color: #F1EFE9;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: #A6A79B;
    box-shadow: 0px 1px 2px 0px rgba(55, 65, 81, 0.08);

}

.discountAdd {
    margin-top: 180px;
    text-align: right;
    padding-right: 130px;
    color: #F1EFE9;
    font-family: Noto Sans TC;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5PX;
}

.pointsNote {
    color: #D9D9D9;
    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 5px;
}