.switchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

/* 上一頁 */
.btnL {
    position: relative;
    color: var(--primary-mint, #F1EFE9);
    font-family: 'Noto Sans TC';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 12px 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}

.btnL:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 28px;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.btnL span {
    position: relative;
    z-index: 1;
}

.btnL svg {
    position: relative;
    top: 0;
    margin-right: 20px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(5px);
    transition: all 0.3s ease;
}

.btnL:hover:before {
    width: 100%;
    background: #E12C4B;
}

.btnL:hover svg {
    stroke: #111111;
    transform: translateX(0);
}

.btnL:hover {
    color: #111111;
}

.btnL:active {
    color: #111111;
    transform: scale(0.96);
}



/* 下一頁 */
.btnR {
    position: relative;
    color: var(--primary-mint, #F1EFE9);
    font-family: 'Noto Sans TC';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 12px 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.btnR:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.btnR span {
    position: relative;
    z-index: 1;
}

.btnR svg {
    position: relative;
    top: 0;
    margin-left: 20px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.btnR:hover:before {
    width: 100%;
    background: #E12C4B;
}

.btnR:hover svg {
    stroke: #111111;
    transform: translateX(0);
}

.btnR:hover{
    color: #111111;

}

.btnR:active {
    color: #111111;
    transform: scale(0.96);
}