.top{
  background-color: black; /* 設置黑色的底色 */
  min-height: 100vh;
}


.ForgotPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 將內容垂直置中 */
    padding: 100px 20px 20px 20px;
    min-height: 100vh;
    background: rgba(47, 47, 47, 0.50);
  }

  .tit {
    margin-top: 50px;
  }
  
  .ForgotPasswordHeading {
    color: white;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 700;
  }
  
  .myinput {
    width: 30%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    margin-bottom: 10px; /* 調整元素之間的間距 */
  }
  
  .ResetButton {
    background-color: #B6B995;
    border: 2px solid #A6A79B;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.1s;
    margin-top: 40px;
    color: rgb(255, 255, 255);
  }

  .ResetButton:hover {
 
    background-color: #F1EFE9;
    color: #B6B995;
  }

  .ResetButton:active {
    background-color: #F1EFE9
    
  }
  
  .BackToLogin {
    text-align: center;
    margin-top: 100px; /* 調整元素之間的間距 */
    margin-bottom: 50px;
  }

  .myBackToLogin{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
  }


  .tit{
    color: aliceblue;
  }
  
  .mes{
    color: red; 
  }
