.Login {
    color: #F1EFE9;
    font-family: 'Noto Sans TC';
    background-color: #000000;
    min-height: 140vh;
}

.bg {
    height: 140vh;
    padding-top: 160px;
    background: rgba(47, 47, 47, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formBox {
    margin: 20px;
}

.title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    text-align: center;

}

.subtitle {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    text-align: center;
}

.text {
    margin: 40px 0 10px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.fp {
    color: #F1EFE9;
    /* text-align: center; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.btn {
    justify-content: flex-end;
}

.tip {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.gr {
    color: #F1EFE9;
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.fp:hover,
.gr:hover {
    color: #B6B995;
}

.in {
    width: 306px;
    height: 40px;
    background-color: #F1EFE9;
    border: none;
    color: #A6A79B;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    padding: 0 10px;
}

.btn {
    width: 100px;
    height: 43px;
    border: 2px solid #B6B995;
    border-radius: 15px;
    background-color: #B6B995;
    color: #F1EFE9;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
    float: right;
    margin-top: 30px;
}

.btn:hover {
    border: 2px solid #F1EFE9;
    background-color: #F1EFE9;
    color: #B6B995;
}

.box {
    margin-top: 50px;
}

.tw{
    display: flex;
    margin: 35px 0 40px;
    gap: 30px;
}

.Lbtn {
    border: none;
    border-radius: 15px;
    width: 180px;
    height: 45px;
    color: #A6A79B;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* margin: 5px; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.Lbtn:hover {
    background: #D9D9D9;
}

