:root {
  --title-color: #f1efe9;
  --gray: rgba(47, 47, 47, 0.5);
  --movie-info: #d9d9d9;
}

* {
  font-family: "Noto Sans TC", sans-serif;
}

.main {
  background-color: #000000;
  display: inline-block;
  width: 100%;
  min-height: 100vh;
}

.grayBackground {
  background: var(--gray);
  padding: 130px 0px 0px 0px;
  min-height: 100vh;
}
.grade {
  margin-left: 15px;
  border-radius: 10px;
  background-color: #7dca84cc;
  color: #f1efe9;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px;
  justify-content: center;
  padding: 5px 15px 5px 15px;
}

.top {
  margin-left: 100px;
  margin-right: 100px;
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 41px;
}

.info {
  padding-left: 30px;
  padding-right: 0;
}
.movieImage {
  padding: 0;
  width: fit-content;
}

.movieImage > img {
  height: 434px;
  object-fit: cover;
  object-position: center;
  display: block;
  margin-left: auto;
}

.cnTitle {
  color: var(--title-color);
  font-size: 46px;
  margin: 0;
}

.enTitle {
  color: var(--title-color);
  font-size: 20px;
  margin-bottom: 50px;
}

.movieInfo {
  color: var(--movie-info);
}
.movieInfo div {
  line-height: 25px;
}

.actorList {
  display: inline-block;
  width: 80%; /* 设置容器宽度 */
  white-space: nowrap; /* 防止文本换行 */
  overflow: hidden; /* 隐藏溢出的内容 */
  text-overflow: ellipsis; /* 在溢出的位置显示省略号 */
}

.bookingInfo {
  color: var(--movie-info);
  font-weight: 700;
  margin-top: 50px;
}

.bookingInfo div {
  line-height: 30px;
}
.down {
  margin-left: 100px;
  margin-right: 0px;
}

.sidebar {
  margin: 50px 0 0 0px;
  padding: 0px;
  width: fit-content;
}

.sidebarChoose {
  border-bottom: 3px solid #f1efe9;
}

.seatArea {
  padding: 0;
}

.seatText {
  color: #f1efe9;
  font-size: 16px;
  text-align: center;
  width: 200px;
  margin: 66px auto 20px auto;
  transform: translateX(20px);
}

.screen {
  background-color: #d9d9d9;
  font-size: 20px;
  color: #2f2f2f;
  width: 400px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: auto;
  transform: translateX(20px);
}

.sample {
  display: flex;
  color: #f1efe9;
  justify-content: center;
}

.sample > div {
  display: flex;
  align-items: center;
  margin-right: 62px;
}

.sample > div:nth-child(3) {
  margin-right: 0px;
}

.square {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
}

.sample span {
  font-size: 16px;
}
