/* 整體座位地圖容器 */
.seatMap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 41px; /* 調整整體地圖與標籤的上方間距 */
}

/* 單個座位 */
.seat {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  font-size: 12px; /* 調整座位號字型大小 */
  line-height: 40px;
}

/* 空座位樣式 */
.empty {
  background-color: #f1efe9;
}

/* 已售出座位樣式 */
.sold {
  background-color: #e12c4b;
  cursor: not-allowed;
}

/* 選中座位樣式 */
.selected {
  background-color: #64a26a;
}

/* 列標籤容器 */
.columnLabels {
  display: flex;
  align-items: center;
}

/* 單個列標籤 */
.columnLabel,
.rowLabel {
  width: 40px;
  height: 40px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  color: #f1efe9;
  font-size: 15px; /* 調整列標籤字型大小 */
  border-radius: 10px;
  line-height: 40px;
}

.seatRow {
  display: flex;
  flex-wrap: nowrap;
}
