.allinput{
    margin-top: 30px;
  }
  
  .b1{
    color: #ffffff;
  }
  
  .c1{
    width: 300px;
    padding: 2px;
    margin-top:10px;
    margin-bottom: 40px;
  }
  
  .c2{
    width: 300px;
    padding: 5px;
    margin-top:10px;
    margin-bottom: 40px;
  }
  
  .c3{
    width: 300px;
    padding: 2px;
    margin-top:10px;
    margin-bottom: 40px;
  }
  
  .c41{
    width: 140px;
    padding: 2px;
    margin-top:10px;
    margin-right: 10px;
  }
  
  .c42{
    width: 150px;
    padding: 2px;
    margin-top:10px;
  }
  
  .d4{
    width: 300px;
    padding: 2px;
    margin-top:10px;
    margin-bottom: 40px;
  }
  
  .c5{
    width: 300px;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 40px;
    
  }

 
  
  .d5{
    color: #ffffff;
    font-size: 12px;
    margin-left: 250px;
    margin-top: -40px;
  }
  